absl-py==1.0.0
alembic==1.7.5
appdirs==1.4.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.2.7
astroid==2.5
asttokens==2.0.5
astunparse==1.6.3
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.10.0
black==21.12b0
bleach==4.1.0
blis==0.7.5
Boruta==0.3
cachetools==4.2.4
catalogue==1.0.0
certifi==2021.10.8
cffi==1.14.0
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
colorlover==0.3.0
constantly==15.1.0
cryptography==2.9.2
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
Cython==0.29.14
databricks-cli==0.16.2
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.0
Django==3.0.5
docker==5.0.3
entrypoints==0.4
executing==0.8.3
filelock==3.0.12
Flask==2.0.2
flatbuffers==2.0
fonttools==4.28.5
funcy==1.17
future==0.18.2
gast==0.4.0
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.26
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.43.0
h5py==3.6.0
htmlmin==0.1.12
hyperlink==19.0.0
idna==2.9
ImageHash==4.2.1
imbalanced-learn==0.7.0
importlib-metadata==4.11.3
importlib-resources==5.6.0
incremental==17.5.0
ipykernel==6.11.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.7.0
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.2.1
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
kmodes==0.11.1
lazy-object-proxy==1.7.1
libclang==12.0.0
lightgbm==3.3.2
llvmlite==0.38.0
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
missingno==0.5.0
mistune==0.8.4
mlflow==1.23.1
mlxtend==0.19.0
multimethod==1.7
murmurhash==1.0.6
mypy-extensions==0.4.3
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.2.0
nest-asyncio==1.5.5
networkx==2.6.3
nltk==3.6.7
notebook==6.4.10
numba==0.55.1
numexpr==2.8.1
numpy==1.22.3
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
pandas-profiling==3.1.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
phik==0.12.0
pickleshare==0.7.5
Pillow==9.0.0
plac==1.1.3
platformdirs==2.5.1
plotly==5.5.0
plotly-express==0.4.1
preshed==3.0.6
prometheus-client==0.13.1
prometheus-flask-exporter==0.18.7
prompt-toolkit==3.0.28
protobuf==3.19.3
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==2.3.6
pycparser==2.21
pydantic==1.9.0
pygame==1.9.6
Pygments==2.11.2
PyHamcrest==2.0.2
pyLDAvis==3.3.1
pylint==2.7.0
pynndescent==0.5.6
pyod==0.9.7
pyOpenSSL==19.1.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.2.0
pywin32==303
pywinpty==2.0.5
PyYAML==5.4.1
pyzmq==22.3.0
querystring-parser==1.2.4
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.8
scikit-learn==1.0.2
scikit-plot==0.3.7
scipy==1.8.0
seaborn==0.11.2
Send2Trash==1.8.0
sequential==1.0.0
service-identity==18.1.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
soupsieve==2.3.1
spacy==2.3.7
SQLAlchemy==1.4.34
sqlparse==0.3.1
srsly==1.0.5
stack-data==0.2.0
statsmodels==0.13.1
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
textblob==0.17.1
thinc==7.4.5
threadpoolctl==3.1.0
toml==0.10.2
tomli==1.2.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
txaio==22.2.1
typing-extensions==4.1.1
umap-learn==0.5.2
urllib3==1.26.8
virtualenv==20.0.16
visions==0.7.4
waitress==2.0.0
wasabi==0.9.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
widgetsnbextension==3.6.0
wordcloud==1.8.1
wrapt==1.12.1
yellowbrick==1.3.post1
zipp==3.7.0
zope.interface==5.1.0
