
 {% extends "base.html" %}
 {% block title %}NIDS HOME{% endblock %}
 {% block main %}
  <div class="container center" style="padding:10px 10px;">
    <h1>Read CSV file</h1>
	<div class="well">
		<div class="row"style="padding:2em;">
		<form class="form-inline"  method="post" name="Form" >
			<div class="form-group">
			  <label for="files">Upload a CSV formatted file:</label>
			  <input type="file"name="csvfile"value=''  class="form-control" accept=".csv" required />
			</div>
			<!-- <div class="form-group">
			 <button type="submit" id="submit-file" class="btn btn-primary">Upload File</button>
			 </div> -->
			 <div class="container form-group">
				<INPUT type="button" value="Show Data" name=button1 class="btn btn-primary" onclick="OnShowData();">
				<INPUT type="button" value="Show Prediction" name=button2 class="btn btn-warning" onclick="OnPredict();">

			 </div>
			 
		</form>
		</div>
		
			
			</div>
		</div>
	
</body>
</html>

<style>
* {
    margin: 0em;
    padding: 0em;}
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
body {
	font-family: sans-serif;
	background-image: url(static/images/building.png) !important;
	background-repeat: no-repeat ;
	/* background-color: rgb(85, 85, 104); */
	background-size: 100% 100%;
	}
</style>
{% endblock %}
