
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>predict </title>
 
</head>
<body >
	  <!-- Navbar Starts -->
	  <section id="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand font-weight-bold" href="#" style="color: yellow;">NIDS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				 <li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				 </li>
				 <li class="nav-item">
					<a class="nav-link" href="#">kmmxsl</a>
				 </li>
				 <li class="nav-item">
					<a class="nav-link" href="{{ url_for('show')}}">See data</a>
				 </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				 </li>
				 
			</ul>
		</div>
		</nav>
		</section>
		<!-- Navbar Ends -->
	
  <div class="container" style="padding:10px 10px;">
    <h1>Read CSV file</h1>
	<div id="header"></div>
	<div class="well">
		<div class="row">
		<form class="form-inline" >
			<div class="form-group">
			  <label for="files">Upload a CSV formatted file:</label>
			  <input type="file" id="files"  class="form-control" accept=".csv" required />
			</div>
			<div class="form-group">
			 <button type="submit" id="submit-file" class="btn btn-primary">Upload File</button>
			 </div>
		</form>
		</div>
		
			
			
		
		
	
	
	<div id="footer"></div>
  </div>
</body>
</html>

